body {
    padding: 0;
    margin: 0;
    color: #00312e;
}

body > header {
    padding: 1.3em 1em 1em 1em;
    color: white;
	text-align: center;
	margin-bottom: 4em;
    background-color: #00ada2;
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
	text-shadow: 0 1px 3px rgba(0,0,0,0.2);
	font-size: 16px
}

a, a:visited {
	color: #3273dc;
	text-decoration: none;
}

nav, article {
	margin: 0 auto 2em auto;
    max-width: 800px;
    width: 92%;
}

article {
	padding: 1em;
	border-radius: 4px;
	background-color: #fff;
	box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}
article::after {
	content: '';
	display: block;
	clear: right;
}

article > img {
	width: 120px;
	height: auto;
	float: right;
	margin-left: 20px;
	margin-bottom: 4px;
	border-radius: 4px;
}

article > header {
	border-bottom: 1px solid #ddd;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
}

h2 {
	margin: 0;
    color: #00ada2;
}

article > p {
    margin: 0;
}

article > p + p {
    margin-top: 0.5rem;
}

article > footer {
	clear: both;
	background-color: #ddd;
	margin: 1rem -1rem -1rem -1rem;
	padding: 0.5rem 1rem;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	text-align: right;
	font-size: 85%;
}

body > footer {
	text-align: center;
	font-size: 85%;
	color: #3f4a36;
	margin: 0.5rem;
}

